:root {
    --gutter-size: 10px;
    --input-height: 2rem;
    --label-width: 7rem;
}

.options-form,
.options-form * {
    box-sizing: border-box;
}

.options-form {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-row + .form-row {
    margin-top: var(--gutter-size);
}

.form-row > .input-label {
    margin-right: var(--gutter-size);
    display: inline-block;
    font-size: 1rem;
    width: var(--label-width);
    text-align: right;
}

.form-row > input {
    margin: 0 var(--gutter-size);
    height: var(--input-height);
}

.form-row > button {
    margin: var(--gutter-size) var(--gutter-size) 0 calc(var(--label-width) + 2 * var(--gutter-size));
    height: var(--input-height);
}

input[type=radio],
.xdebug-session-icon {
    vertical-align: middle;
}

.xdebug-session-icon {
    height: var(--input-height);
}

.message-container {
    position: relative;
    height: 3.1rem;
}

.message {
    border-radius: 3px;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;
}

.saved-successfully {
    background-color: #16a085;
}

.saved-error {
    background-color: #c0392b;
}

.is-visible {
    opacity: 1;
    z-index: 2;
}
